{% set album = load_data(path="gallery/" ~ page.extra.slug ~ "/album.toml") %}
<!DOCTYPE HTML>
<html lang="en">

<head>
	<title>{{ album.title }} | Lumora</title>
	<meta charset="utf-8" />
	<meta name="description" content="{{ album.description }}">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
	<link rel="shortcut icon" href="/favicon/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
	<link rel="manifest" href="/favicon/site.webmanifest" />
	<link rel="stylesheet" href="/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="/css/noscript.css" />
	</noscript>
</head>

<body class="is-preload-0 is-preload-1 is-preload-2">
	<div id="main">
		<header id="header">
			<h1>{{ album.title }}</h1>
			<p>{{ album.description }}</p>
			<p><a href="/portfolio/">Portfolio</a></p>
		</header>

		<section id="thumbnails">
			{% for image in album.images %}
			{% set full_file = image.file | replace(from=".jpg", to=".webp") %}
			{% set full_path = "gallery/" ~ page.extra.slug ~ "/" ~ full_file %}
			{% set thumbnail_path = "gallery/" ~ page.extra.slug ~ "/thumbnails/" ~ image.file %}
			<article>
				<a class="thumbnail" href="/{{ full_path }}" data-position="center center" aria-label="Show {{ image.alt }}">
					<img src="/{{ thumbnail_path }}" alt="{{ image.alt }}">
				</a>
			</article>
			{% endfor %}
		</section>

		<footer id="footer">
			<ul class="copyright">
				<li>&copy; {{ config.extra.your_name }}.</li>
				<li>Design: <a href="http://html5up.net">HTML5 UP</a>.</li>
			</ul>
		</footer>
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/browser.min.js"></script>
	<script src="/js/breakpoints.min.js"></script>
	<script src="/js/main.min.js"></script>
</body>

</html>
