{% extends "base.html" %}

{% block title %}{% set album = load_data(path="gallery/" ~ page.extra.slug ~ "/album.toml") %}{{ album.title }} | Lumora{% endblock title %}
{% block description %}{% set album = load_data(path="gallery/" ~ page.extra.slug ~ "/album.toml") %}{{ album.description }}{% endblock description %}
{% block og_type %}article{% endblock og_type %}
{% block og_title %}{% set album = load_data(path="gallery/" ~ page.extra.slug ~ "/album.toml") %}{{ album.title }} | Lumora{% endblock og_title %}
{% block og_description %}{% set album = load_data(path="gallery/" ~ page.extra.slug ~ "/album.toml") %}{{ album.description }}{% endblock og_description %}
{% block og_image %}{% set album = load_data(path="gallery/" ~ page.extra.slug ~ "/album.toml") %}{% set album_dimensions = load_data(path="static/gallery/" ~ page.extra.slug ~ "/dimensions.json") %}{{ config.base_url }}/gallery/{{ page.extra.slug }}/{{ album_dimensions.cover_seq }}.webp{% endblock og_image %}

{% block styles %}
<link rel="stylesheet" href="/vendor/photoswipe/photoswipe.css">
{% endblock styles %}

{% block content -%}
{% set album = load_data(path="gallery/" ~ page.extra.slug ~ "/album.toml") -%}
{% set album_year = album.year | default(value="") -%}
<header id="header" class="page-header page-header--wide album-header">
	{%- if album_year %}<p class="eyebrow">{{ album_year }}</p>{% endif %}
	<h1>{{ album.title }}</h1>
	<p>{{ album.description }}</p>
	<p><a class="text-link" href="/portfolio/">{{ config.extra.portfolio_back_label }}</a></p>
</header>
{% include "partials/gallery-grid.html" -%}
{% endblock content -%}

{% block scripts %}
<script type="module" src="/js/photoswipe-gallery.js"></script>
{% endblock scripts %}
