<!-- Thumbnails -->
<section id="thumbnails">
    {% for image_path in section.extra.full_images -%}
    {% set thumbnail_path = section.extra.thumbnails[loop.index0] %}
    {% set meta = get_image_metadata(path=thumbnail_path) %}
    <article>
        <a class="thumbnail" href="{{ image_path }}" data-position="center center" aria-label="Show the full image"><img src="{{ thumbnail_path }}"
                width="{{ meta.width }}" height="{{ meta.height }}" alt="Image thumbnail"></a>
    </article>
    {%- endfor %}
</section>